<div class="flex items-center">
  <button [mat-menu-trigger-for]="menu" class="example-icon" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
    <a mat-menu-item routerLink="/holidays">
      <mat-icon>travel_explore</mat-icon>
      <span>Holidays</span>
    </a>
    <a mat-menu-item routerLink="/security/sign-in">
      <mat-icon>login</mat-icon>
      <span>Sign In</span>
    </a>
  </mat-menu>
  <h1 class="pl-2">Eternal</h1>
</div>
