<mat-card>
  <mat-card-header>
    <mat-card-title>Get a Brochure</mat-card-title>
  </mat-card-header>
  <form (ngSubmit)="handleSubmit()" [formGroup]="formGroup" autocomplete="on">
    <mat-card-content>
      <p class="mb-4">Thanks for your interest.<br />Please let us know your address.</p>

      <mat-form-field>
        <mat-label>Address</mat-label>
        <input autofocus data-test="address" formControlName="address" matInput />
        <mat-icon matSuffix>location_on</mat-icon>
        <mat-hint>Format: street nr, zip city</mat-hint>
        <mat-error *ngIf="formGroup.controls.address.hasError('required')">
          Required Field
        </mat-error>
        <mat-error *ngIf="formGroup.controls.address.hasError('address')"
          >Wrong Format: street nr, zip city
        </mat-error>
        <mat-error *ngIf="formGroup.controls.address.hasError('nominatim')"
          >Address does not exist
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="justify-evenly mt-4">
      <button (click)="handleCancel()" data-test="btn-cancel" mat-raised-button type="button">
        Cancel
      </button>
      <button
        [disabled]="!formGroup.valid"
        color="primary"
        data-test="btn-submit"
        mat-raised-button
        type="submit"
      >
        OK
      </button>
    </mat-card-actions>
  </form>
</mat-card>
