
div.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  div.holiday-card {
    display: flex;
    flex: 1 0 315px;
    margin: 1em;

    mat-card {
      max-width: 400px;

      mat-card-actions {
        text-align: center;
      }
    }

  }
}
